.cart {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem;
  margin: 15rem 0;
  align-items: center;
}

.cart h2 {
  font-size: 4rem;
  font-weight: bolder;
}

.cart p {
  font-size: 2rem;
  color: var(--primary-contrast-dark);
}

.cartItem {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 2rem 4rem;
  margin: 2rem 0;
  border-radius: 1rem;
  background-color: var(--gray-100);
  color: var(--primary-contrast-dark);
}

.cartItem img {
  width: 18rem;
}

/* INFO */
.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info h3 {
  font-size: 2.2rem;
}

.info p {
  font-size: 2rem;
  font-weight: bold;
}

/* QUANTIDADE */
.quantityControls {
  display: flex;
  align-items: center;
  border: 0.25rem solid #111;
  border-radius: 1rem;
}

.quantityControls button {
  padding: 0.6rem 1.4rem;
  font-size: 2.5rem;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
}

.quantityControls span {
  font-size: 2rem;
  margin: 0 2rem;
}

.quantityControls button:disabled {
  background-color: var(--primary-light);
  cursor: not-allowed;
}

/* REMOVER */
.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-dark);
}

/* LIMPAR CARRINHO */
.clearCart {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  padding: 1rem 3rem;
  background-color: transparent;
  border: 0.3rem solid var(--primary-dark);
  border-radius: 1rem;
  cursor: pointer;
}
