.container {
  display: flex;
  flex-direction: column;
  align-items: stratch;
  padding: 2rem;
  margin: 15rem 0;
  gap: 2rem;
}

.productList {
  padding: 1rem 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, 30rem);
  justify-content: center;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.searchInput {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 60rem;
  justify-content: center;
  padding: 1rem;
  font-size: 2rem;
  border: 0.25rem solid var(--primary);
  border-radius: 1rem;
}

.searchButton {
  background-color: var(--primary);
  color: var(--gray-900);
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  border: 0.25rem solid var(--gray-900);
}

.searchButton:hover {
  background-color: var(--primary-dark);
}